:host {
  display: block;
  color: green;
  font-family: 'RobotoDraft', sans-serif;
  font-size:10px;
}

.olos-container {  
  overflow-y: scroll;
  position: relative;
  height: 200px;
  min-height: 1px;
  min-width: 1px;
  padding:0px;
}

canvas {
  width: 100%;
  height: 100%;
  /*position: relative;*/
}